/*CSS Colors
#a8e9f3 - light blue
#2a2a2a - black
#007bff - blue
--------------------*/

.sticker {
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}

.sticker:hover {
    animation-play-state: running;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: #a8e9f3;
    color: #2a2a2a;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 40px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
    line-height: normal;
}

a:hover {
    text-decoration: underline;
}
.image-me {
    width: 200px;
    height: 250px;
    margin-left: 40px;

}
.ship {
    width: 400px;
    height: 900px;
    margin: 40px;
}
.raleway-uniquifier> {
    font-family: "Raleway", sans-serif;
  }
p {
    font-size: medium;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}
h1 {
    text-decoration: underline;
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    margin-left: 40px;
    margin-right: 40px;
}